/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';
@import '_variables';
@import 'bdr-font';

// @import '../bower_components/fontawesome/scss/font-awesome.scss';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
// @import 'components/components';

// TODO: pair this down.
@import 'components/_utils';
@import 'components/_components/_typography';
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.menuBtn {
  background-color: transparent;
  border: none;
  margin: 0px 16px;
  width: 36px;
  font-size: 36px;
  md-icon {
    height:auto;
  }
}


.base,
p,
ul,
ol {
  font-size: 19px;
}

/** Nav */
md-sidenav h2,
md-sidenav h4,
md-sidenav h5 {
  text-align: center;
}
md-sidenav h4 {
  padding-top: 0.75em;
}
.nav-item {
  padding-left: 2em;
}
.nav-icon {
  line-height: 1.25em;
  float: left;
  font-size: 2em;
  width: 1.5em;
}
.nav-item-highlight:hover {
  md-icon{
  color: $accent-color;}
}

.nav-text {
  line-height: 2.5em;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}






// Extras
@import 'avatars.css';

/* Sidenav area */
.social-icons {
  margin-top: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  .md-button {
    text-align: center;
  }
}
md-sidenav, md-sidenav.md-locked-open {
  width: $sidebar-width;
  min-width: $sidebar-width;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: $accent-color;
  }

.sidenav-header {
  margin: 1em 0 1em 0;
}

.headshot {
  width: 125px;
  margin: 0 auto;
  height: 125px;
  border-radius: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url($headshot-url);
  display: flex;
}

/* Primary content area */

.actionshot {
  width: 100%;
  img {
    height: auto;
    max-width: 100%;  
  }
}
#content {
  overflow: hidden;
}
  #content md-content div.first-content {
    background-color: rgb(243, 243, 243);
    a {
      color: darken($accent-color, 10%);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(8, 4, 13, 0);
      border-top-color: #f3f3f3;
      border-width: 30px;
      left: 50%;
      margin-left: -30px;
      z-index: 1;
    }
  }
  #content md-content div.content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 3em;
  }
    #content .md-button.action {
      background-color: transparent;
      border: none;
      height: 38px;
      margin: 8px auto 16px 0;
      position: absolute;
      top: 10px;
      right: 25px;
      width: 36px;
    }


.contact-item {
  width:          100%; 
  text-transform: lowercase;
}
.contact-link{
  color: darken($accent-color, 10%);
  text-decoration: none;
  &:visited {
    color: darken($accent-color, 30%);
    // color: $colorBlueGrey600;
  }
  &:hover {
    text-decoration: underline;
  }
}
.normal-case {
  text-transform: none;
}

div.research-interests {
  padding-left: 1em;
}

.research-interests md-item-content {
  border-left: 2px solid $accent-color;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0px 3px 3px -3px #ccc;
  background-color: white;
}

/* Utils */

.content-wrapper {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
