/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';
@import '_variables';
@import '_bdr-font';

// @import '../bower_components/fontawesome/scss/font-awesome.scss';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
// @import 'components/components';

// TODO: pair this down.
@import 'components/_utils';
@import 'components/_components/_typography';
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.highlighted {
  background-color: yellow;
}
.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.menuBtn {
  background-color: transparent;
  border: none;
  margin: 0px 16px;
  width: 36px;
  font-size: 36px;
  md-icon {
    height:auto;
  }
}


.base,
p,
ul,
ol {
  font-size: 19px;
}

/** Nav */
md-sidenav h2,
md-sidenav h4,
md-sidenav h5 {
  text-align: center;
}
md-sidenav h4 {
  padding-top: 0.75em;
}
.nav-item {
  padding-left: 2em;
}
.nav-icon {
  line-height: 1.25em;
  float: left;
  font-size: 2em;
  width: 1.5em;
}
.nav-item-highlight:hover {
  md-icon{
  color: $accent-color;}
}

.nav-text {
  line-height: 2.5em;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/assets/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/assets/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/assets/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/assets/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/assets/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/assets/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/assets/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}






// Extras

/* Sidenav area */
.social-icons {
  margin-top: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  .md-button {
    text-align: center;
  }
}
md-sidenav, md-sidenav.md-locked-open {
  width: $sidebar-width;
  min-width: $sidebar-width;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: $accent-color;
  }

.sidenav-header {
  margin: 1em 0 1em 0;
}

.headshot {
  width: 125px;
  margin: 0 auto;
  height: 125px;
  border-radius: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url($headshot-url);
  display: flex;
}

/* Primary content area */

.actionshot {
  width: 100%;
  img {
    height: auto;
    max-width: 100%;  
  }
}
#content {
  overflow: hidden;
}
  #content md-content div.first-content,
  #content md-content div.third-content {
    background-color: rgb(243, 243, 243);
  }
  #content md-content div.first-content {
    a {
      color: darken($accent-color, 10%);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(8, 4, 13, 0);
      border-top-color: #f3f3f3;
      border-width: 30px;
      left: 50%;
      margin-left: -30px;
      z-index: 1;
    }
  }
  #content md-content div.content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 3em;
  }
    #content .md-button.action {
      background-color: transparent;
      border: none;
      height: 38px;
      margin: 8px auto 16px 0;
      position: absolute;
      top: 10px;
      right: 25px;
      width: 36px;
    }


.contact-item {
  width:          100%; 
  text-transform: lowercase;
}
.contact-link{
  color: darken($accent-color, 10%);
  text-decoration: none;
  &:visited {
    color: darken($accent-color, 30%);
    // color: $colorBlueGrey600;
  }
  &:hover {
    text-decoration: underline;
  }
}
.normal-case {
  text-transform: none;
}

div.research-interests {
  padding-left: 1em;
}

.research-interests md-item-content {
  border-left: 2px solid $accent-color;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0px 3px 3px -3px #ccc;
  background-color: white;
}

/* bio page */
.position-dates {
  width: 75px;
  font-weight: bold;
  span {
    background-color: $accent-color;
    padding: 6px;
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
    &:first-child {
      -webkit-box-shadow: 0px 5px 16px -3px rgba(30, 30, 30, 0.5);
      box-shadow: 0px 5px 16px -3px rgba(30, 30, 30, 0.5);
      z-index: 3;
      position: relative;
    }
    &:last-child {
      background-color: darken($accent-color, 10%);
    }
  }
}
.position-content {
  margin-left: 1em;
  h3{padding: 0;margin:0;}
  p{padding: 0.8em 0 0 0; font-size: 1em; line-height: 1.1em;}
}
.position-block {
  padding-bottom: 1em;
  padding-top: 0.5em;
}
.education-dates {
  font-weight: bold;
  display: block;
  span {
    line-height: 1.6em;
    background-color: $accent-color;
    padding: 0.6em 0.8em 0.6em 0.8em;
    text-align: center;
    color: white;
    position: relative;
    &:last-child {
      -webkit-box-shadow: -3px 0px 16px 0px rgba(30, 30, 30, 0.5);
      box-shadow: -3px 0px 16px 0px rgba(30, 30, 30, 0.5);
      z-index: 3;
      position: relative;
    }
    &:first-child {
      background-color: darken($accent-color, 10%);
    }
  }
}
.education-content {
  margin-left: 1em;
  h3{padding: 0;margin:0;}
  p{padding: 0.8em 0 0 0; font-size: 1em; line-height: 1.1em;}
}
.education-block {
  padding-bottom: 1em;
  margin-top: 0.5em;
  padding-top: 0.5em;
}
/* pubs page */
md-card {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}

.group-by {
  padding-left: 2em;
}

.filter {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 2px;
  display: block;
  height: 40px;
  position: relative;
  overflow: visible; }
  .filter input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    padding: 0 15px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    outline: none;
    z-index: 2;
    background: transparent; }
    .filter input::-ms-clear {
      display: none; }
  .filter button {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    z-index: 2;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    background: transparent; }
    .filter button:after {
      content: '';
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      border-radius: 50%;
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      z-index: -1; }
    .filter button:focus:after {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    .filter button md-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
              transform: translate3d(-50%, -50%, 0) scale(0.9); }
      .filter button md-icon path {
        stroke-width: 0; }
    .filter button.ng-enter {
      -webkit-transform: scale(0);
              transform: scale(0);
      transition: -webkit-transform 0.15s ease-out;
      transition: transform 0.15s ease-out; }
      .filter button.ng-enter.ng-enter-active {
        -webkit-transform: scale(1);
                transform: scale(1); }
    .filter button.ng-leave {
      transition: -webkit-transform 0.15s ease-out;
      transition: transform 0.15s ease-out; }
      .filter button.ng-leave.ng-leave-active {
        -webkit-transform: scale(0);
                transform: scale(0); }


/* Utils */

.content-wrapper {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.affix-top {
  position: fixed;
  top: -25px;
  z-index: 10;
  width: 100%;
  margin-right: 5px;
}

.under-affixed {
  margin-top: 80px;
}
#content md-content div.first-content.affix-top:after {
  border-color: transparent;
}