<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>AngularJS Material App</title>

    <meta charset="utf-8">

    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="AppCtrl">
    <!--
         Use `flex` [below] to have the side bar and content area
         fill the available vertical display area
     -->

    <div layout="row" flex>

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-list>
          <div class="sidenav-header" hide show-gt-md>
            <div class="headshot" role="img" aria-label="Brian DeRenzi"></div>
            <h2>Brian DeRenzi</h2>
            <h4>University of Cape Town</h4>
            <h5>Cape Town, South Africa</h5>
          </div>
          <md-item ng-repeat="it in navItems">
            <md-item-content>
              <md-button href="/{{it.link}}" ng-class="{'selected' : it === selected, 'nav-item-highlight': it.highlight}" class="nav-item" >
                <md-icon md-font-icon="{{it.icon}}" class="nav-icon" ></md-icon>
                <div class="nav-text">{{it.text}}</div>
              </md-button>
            </md-item-content>
          </md-item>
          <md-item layout="row" class="social-icons">
              <md-button aria-label="google-plus" href="http://google.com/+BrianDeRenzi">
                <md-icon md-font-icon="bdr bdr-google-plus"></md-icon>
              </md-button>
              <md-button aria-label="flickr" href="http://www.flickr.com/photos/bderenzi/">
                <md-icon md-font-icon="bdr bdr-flickr2"></md-icon>
              </md-button>
              <md-button aria-label="github" href="http://github.com/bderenzi/">
                <md-icon md-font-icon="bdr bdr-github"></md-icon>
              </md-button>
              <md-button aria-label="linkedin" href="http://www.linkedin.com/in/bderenzi">
                <md-icon md-font-icon="bdr bdr-linkedin"></md-icon>
              </md-button>
          </md-item>
        </md-list>
      </md-sidenav>

      <!--

          Use `flex` [below] to have the content area
          fill the available horizontal display area on the right side
      -->

      <div layout="column" flex class="content-wrapper" id="content">

        <button aria-label="menu" ng-click="toggleSidenav('left')" hide-gt-md class="menuBtn">
          <md-icon md-font-icon="bdr bdr-menu"></md-icon>
        </button>
        <!-- <button >
          <span class="visuallyhidden">Menu</span>
        </button> -->
        <md-content flex ng-view></md-content>
      </div>
    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>

    <script src="./bower_components/angular-material/angular-material.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/avatars/avatarService.js"></script>

  </body>
</html>
