<div class="pub md-whiteframe-z1" layout="row">
  <img hide-sm class="pub_icon" ng-src="{{pub.pdf_icon}}">
  <div class="pub_content" layout="column">
    <span class="pub_title" ng-bind-html="pub.title | highlight:query"></span>
    <!-- TODO: fix authors -->
    <span ng-bind-html="pub.author | highlight:query"></span>
    <div layout="row">
      <span ng-bind-html="pub.booktitle_short | highlight:query"></span>
      <span ng-if="pub.award">&nbsp;|&nbsp;</span>
      <span ng-if="pub.award" class="pub_award">{{pub.award}}</span>
      <span ng-if="pub.total_papers_admitted">&nbsp;| Acceptance Rate: {{100*pub.total_papers_admitted/pub.total_papers_submitted | number:0}}% ({{pub.total_papers_admitted}}/{{pub.total_papers_submitted}})</span>
    </div>
    <span class="pub_keywords">keywords: <span ng-bind-html="pub.keywords | highlight:query"></span></span>
  </div>
</div>
