<!-- <div class="content-wrapper first-content">
  <h2>Selected Publications</h2>  
</div> -->
<div class="content-wrapper">
  <div layout="row" layout-align="start center">
    
    <div flex="70" class="filter">
      <input type="text" ng-model="query" placeholder="Search publications" aria-label="Filter"/>
      <button type="button" ng-if="query" ng-click="clearFilter()">
        <md-icon md-svg-icon="cancel"></md-icon>
          <span class="visually-hidden">Clear</span>
      </button>
    </div>

    <div flex="30" class="group-by">
      <!-- Group by:<a href="" ng-click="predicate='pub_type'; reverse=false">Type</a>
      <a href="" ng-click="predicate='year'; reverse=true">Year</a> -->

      <md-button class="md-raised" ng-class="{'md-primary': predicate=='pub_type','active': predicate=='pub_type'}" ng-click="predicate='pub_type'; reverse=false">
        Type
      </md-button>
      <md-button class="md-raised" ng-class="{'md-primary': predicate=='year','active': predicate=='year'}" ng-click="predicate='year'; reverse=true">
        Year
      </md-button>
    </div>

  </div>
</div>

<div class="content-wrapper third-content">
  <span ng-repeat="pub in publications | filter:query  | orderBy:predicate:reverse | groupBy:[predicate] " class="pub-wrapper">
    <h2 ng-show="pub.group_by_CHANGED">{{pub[predicate]}}</h2>
    <bdr-publication pub="pub" query="query"></bdr-publication>
  </span>

</div>
