<md-content layout="column" flex class="md-padding">
  <p>Publications list!</p>

  <p>
  Search <input ng-model="query"> <br/>
  Group by:
<!-- <select ng-model="orderProp">
  <option value="year">Year</option>
  <option value="type">Type</option>
</select>
 -->  

  <a href="" ng-click="predicate='type'; reverse=false">Type</a>
  <a href="" ng-click="predicate='year'; reverse=true">Year</a>
  </p>

  <div ng-repeat="pub in publications | filter:query  | orderBy:predicate:reverse | groupBy:[predicate]">
    <h2 ng-show="pub.group_by_CHANGED">{{pub[predicate]}}</h2>
    <span>year: <span ng-bind-html="pub.year | highlight:query"></span></span>
    <span>title: <span ng-bind-html="pub.title | highlight:query"></span></span>
    <div>authors: 
      <span ng-repeat="author in pub.authors" ng-bind-html="author | highlight:query"></span>
    </div>
  </div>

</md-content>